# Salin sebagai .env.e2e.local bila data seed atau alamat aplikasi berbeda.
E2E_BASE_URL=http://localhost:3000
E2E_ROOT_TENANT_ID=c9711506-d356-4704-a32e-0543dfe3e104
E2E_FACULTY_TENANT_ID=20492a21-59c3-4edf-bb64-1eaa6cf11deb
E2E_ROOT_ADMIN_EMAIL=superadmin.univ@gmail.com
E2E_FACULTY_ADMIN_EMAIL=superadmin.fasilkom@gmail.com
E2E_PARTICIPANT_EMAIL=peserta@gmail.com
E2E_PASSWORD=password
