
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings


NEXT_PUBLIC_API_URL=http://localhost:8000

BETTER_AUTH_SECRET=2wLqtlD8P8NaQyRv9npDXwp8lFzlURj2
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

NEXT_PUBLIC_APP_URL=https://tibatibangoding.github.io
NEXT_PUBLIC_SEO_TITLE="Tiba Tiba Ngoding"
NEXT_PUBLIC_SEO_AUTHOR="Tiba Tiba Ngoding"
NEXT_PUBLIC_SEO_DESCRIPTION=""
NEXT_PUBLIC_SEO_LANGUAGE="id-ID"
NEXT_PUBLIC_SEO_LOCALE="id-ID"
NEXT_PUBLIC_SEO_SITE_URL=""
NEXT_PUBLIC_SEO_EMAIL="tibatibangoding@gmail.com"
NEXT_PUBLIC_SEO_PHONE=""
NEXT_PUBLIC_SEO_INSTAGRAM="https://www.instagram.com/tibatibangoding"
NEXT_PUBLIC_SEO_X=""
NEXT_PUBLIC_SEO_FACEBOOK=""
NEXT_PUBLIC_SEO_YOUTUBE="https://www.youtube.com/@tibatibangoding"

IMAGEKIT_URL=https://ik.imagekit.io/your_imagekit_id
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_PUBLIC_KEY=
